[Unit]
Description=Nexia - Gestión de Socios
After=network.target mysql.service

[Service]
Type=simple
User=root
WorkingDirectory=/home/Nexia
Environment="LD_LIBRARY_PATH=/home/Nexia/runtime"
ExecStart=/home/Nexia/nexia
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
